html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: black;
  line-height: 1.3;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
